In [1]:
import pandas as pd
import csv
import re

In [2]:
def openMPL(fp):
    sheet = pd.read_excel(fp, skiprows=1, sheetname='Sheet2')
    return sheet

In [26]:
fp = "C:/Users/KNguyen/MPL_new_20161206_merged.xlsx"

mpl = openMPL(fp)
mpl.head()

,EIA_id,State_Id_1,State_Id_2,Project Name,Notes,Status,EIA_Construction_Status,Street Address,City,County,...,Installation Cost per Watt,Premise Last Name,QC/QA Select (HW),PTO Date,Energy Year,Program,EDC Program,Applicant Name,Facility Company/Owner,Phone
0,NaN,NaN,NaN,Hattiesburg-Forrest County Industrial Park Sol...,NaN,Under Construction,NaN,NaN,Hattiesburg,Forest,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,62238C,NaN,10801 6th St.,"Note: with RPS certification disapproved, no o...",Under Development,NaN,NaN,Rancho Cucamonga,San Bernardino,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Joia Gibble,Martifer Solar USA,NaN
2,NaN,62118A,NaN,1111 Figueroa Place,"Note: with RPS certification disapproved, no o...",Under Development,NaN,NaN,Wilmington,Los Angeles,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oscar Alvarez,Los Angeles Community College District,NaN
3,59371.0,SRP10894,NaN,12 Applegate Solar LLC,Note: New Jersey lists as Lifetime Brands Inc.,Operating,NaN,12 Applegate Drive,Robbinsville,Mercer,...,NaN,OREILLY,41200.0,NaN,NaN,SREC Solar,NaN,NaN,NaN,NaN
4,NaN,PV-2456-14,NON37971,126 Grove Solar,NaN,Operating,NaN,NaN,Franklin,NaN,...,3.28588,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
#print(mpl[mpl['City'] == 'Los Angeles'])

In [4]:
counties = mpl.iloc[:,9:13]
counties

              County        County.1 Facility County  County Code
0             Forest             NaN             NaN          NaN
1     San Bernardino             NaN  San Bernardino          NaN
2        Los Angeles             NaN     Los Angeles          NaN
3             Mercer          Mercer             NaN         12.0
4                NaN             NaN             NaN          NaN
5                NaN             NaN             NaN          NaN
6        Los Angeles     Los Angeles             n/a          NaN
7          Middlesex       Middlesex             NaN          NaN
8                NaN             NaN             NaN          NaN
9                NaN             NaN             NaN          NaN
10               NaN             NaN             NaN          NaN
11         Middlesex       Middlesex             NaN          NaN
12           Hampden         Hampden             NaN          NaN
13           Hampden         Hampden             NaN          NaN
14               NaN             NaN             NaN         13.0
15            Fresno          Fresno          Fresno          NaN
16            Merced          Merced          Merced          NaN
17       Los Angeles             NaN     Los Angeles          NaN
18             Butte           Butte          Sutter          NaN
19             Butte             NaN           Butte          NaN
20            Tehama             NaN          Tehama          NaN
21               NaN             NaN             NaN          NaN
22               NaN             NaN             NaN          NaN
23               NaN             NaN             NaN          NaN
24               NaN             NaN             NaN          NaN
25            Mercer          Mercer             NaN          NaN
26       Los Angeles             NaN     Los Angeles          NaN
27       Los Angeles     Los Angeles             NaN          NaN
28         Worcester       Worcester             NaN          NaN
29               NaN             NaN             NaN          NaN
...              ...             ...             ...          ...
4039  San Bernardino  San Bernardino             NaN          NaN
4040            Inyo            Inyo             NaN          NaN
4041     Los Angeles     Los Angeles             NaN          NaN
4042            Pima            Pima             NaN          NaN
4043             NaN             NaN             NaN          NaN
4044  San Bernardino  San Bernardino             NaN          NaN
4045  San Bernardino  San Bernardino             NaN          NaN
4046  San Bernardino  San Bernardino             NaN          NaN
4047            Kern            Kern             NaN          NaN
4048  San Bernardino  San Bernardino             NaN          NaN
4049             NaN             NaN             NaN          NaN
4050      Rutherford      Rutherford             NaN          NaN
4051      Rockingham      Rockingham             NaN          NaN
4052         Catawba         Catawba             NaN          NaN
4053        Guilford             NaN             NaN          NaN
4054        Guilford             NaN             NaN          NaN
4055             NaN             NaN             NaN          NaN
4056             NaN             NaN             NaN          NaN
4057             NaN             NaN             NaN          NaN
4058             NaN             NaN             NaN          NaN
4059             NaN             NaN             NaN          NaN
4060          Yadkin             NaN             NaN          NaN
4061             NaN             NaN             NaN          NaN
4062          Duplin             NaN             NaN          NaN
4063        Randolph        Randolph             NaN          NaN
4064         Chatham         Chatham             NaN          NaN
4065       Edgecombe             NaN             NaN          NaN
4066         Halifax         Halifax             NaN          NaN
4067        Columbus        Columbus             NaN          NaN
4068        Columbus        Columbus             NaN          NaN

[4069 rows x 4 columns]

In [27]:
#Cleaning and Merging Sector Name
sector_names = mpl.iloc[:,86:89]
#sector_names

count6 = 0
for d, rowd in mpl.iterrows():
    if (pd.isnull(rowd['Sector Name']) == True) and ((pd.isnull(rowd['3_3_sector_name']) == False) or pd.isnull(rowd['Sector Name.1']) == False):
        count6 += 1
        if (pd.isnull(rowd['3_3_sector_name']) == False) and (pd.isnull(rowd['Sector Name.1']) == True):
            mpl.ix[d,'Sector Name'] = rowd['Sector Name.1']
        elif (pd.isnull(rowd['3_3_sector_name']) == True) and (pd.isnull(rowd['Sector Name.1']) == False):
            mpl.ix[d, 'Sector Name'] = rowd['3_3_sector_name']
        else:
            if (rowd['3_3_sector_name'] == rowd['Sector Name.1']):
                mpl.ix[d,'Sector Name'] = rowd['Sector Name.1']
            else:
                mpl.ix[d,'Sector Name'] = rowd['Sector Name.1'] + rowd['3_3_sector_name']

#Delete used columns
mpl.drop(['3_3_sector_name','Sector Name.1'], axis=1, inplace=True)

print("Count6: " + str(count6))

Count6: 0

In [28]:
#Cleaning and Merging Sector Codes
sector_codes = mpl.iloc[:,92:95]
#sector_codes

count7 = 0
for d, rowd in mpl.iterrows():
    if (pd.isnull(rowd['Sector']) == True) and ((pd.isnull(rowd['3_3_sector']) == False) or (pd.isnull(rowd['Sector.1']) == False)):
        count7 += 1
        if (pd.isnull(rowd['3_3_sector']) == False) and (pd.isnull(rowd['Sector.1']) == True):
            mpl.ix[d,'Sector'] = rowd['Sector.1']
        elif (pd.isnull(rowd['3_3_sector']) == True) and (pd.isnull(rowd['Sector.1']) == False):
            mpl.ix[d, 'Sector'] = rowd['3_3_sector']
        else:
            if (rowd['3_3_sector'] == rowd['Sector.1']):
                mpl.ix[d,'Sector'] = rowd['Sector.1']
            else:
                mpl.ix[d,'Sector'] = rowd['Sector.1'] + rowd['3_3_sector']

#Delete used columns
mpl.drop(['3_3_sector','Sector.1'], axis=1, inplace=True)

print("Count7: " + str(count7))

Count7: 0

In [29]:
#Cleaning and Merging Relationships reported
rels_reported = mpl.iloc[:,133:137]
rels_reported

count8 = 0
for l, rowl in mpl.iterrows():
    word1 = ''
    word2 = ''
    word3 = ''
    word4 = ''
    if (mpl.ix[l,'Owner of Plants Reported on Form?'] == 'Y'):
        word1 = 'Owner'
    if (mpl.ix[l,'Operator of Plants Reported on Form?'] == 'Y'):
        word2 = 'Operator'
    if (mpl.ix[l,'Asset Manager of Plants Reported on Form?'] == 'Y'):
        word3 = 'Asset Manager'
    if (mpl.ix[l,'Owner of Plants Reported on Form?'] == 'Y'):
        word4 = 'Others'
    word = [word1,word2,word3,word4]
    word = filter(None, word)
    clean_word = '/'.join(word)
    mpl.ix[l, 'Relationships Reported'] = clean_word 

    
#Delete used columns
mpl.drop(['Owner of Plants Reported on Form?','Operator of Plants Reported on Form?',
         'Asset Manager of Plants Reported on Form?','Owner of Plants Reported on Form?'], axis=1, inplace=True)

#mpl.to_excel("C:/Users/KNguyen/test_output_new.xlsx")

In [30]:
#clarify Entity Type column
for r, rowr in mpl.iterrows():
    if (mpl.ix[r,'Entity Type'] == 'COM'):
        mpl.ix[r,'Entity Type'] = 'Commercial'
    if (mpl.ix[r,'Entity Type'] == 'IND'):
        mpl.ix[r,'Entity Type'] = 'Independent Power Producer'
    if (mpl.ix[r,'Entity Type'] == 'C'):
        mpl.ix[r,'Entity Type'] = 'Cooperative'
    if (mpl.ix[r,'Entity Type'] == 'F'):
        mpl.ix[r,'Entity Type'] = 'Federally - Owned Utility'
    if (mpl.ix[r,'Entity Type'] == 'I'):
        mpl.ix[r,'Entity Type'] = 'Industrial'
    if (mpl.ix[r,'Entity Type'] == 'M'):
        mpl.ix[r,'Entity Type'] = 'Municipally - Owned Utility'
    if (mpl.ix[r,'Entity Type'] == 'P'):
        mpl.ix[r,'Entity Type'] = 'Political Subdivision'
    if (mpl.ix[r,'Entity Type'] == 'S'):
        mpl.ix[r,'Entity Type'] = 'State - Owned Utility'

In [31]:
#Technology columns
for g, rowg in mpl.iterrows():
    #word1 = mpl.ix[g,'PV/CSP']
    word1 = mpl.ix[g,'PV/CSP']
    if (mpl.ix[g,'PV/CSP'] == 'PV '):
        word1 = 'PV'
        
    word2 = ''
    if (mpl.ix[g,'EIA_prime_mover'] == 'PV'):
        word2 = 'PV'
    #elif (mpl.ix[g,'EIA_prime_mover'] == 'PV '):
        #word2 = 'PV'
        
    word3 = ''
    if (mpl.ix[g,'3_3_prime_mover'] == 'PV'):
        word3 = 'PV'
    #elif (mpl.ix[g,'3_3_prime_mover'] == 'PV '):
        #word3 = 'PV'    
    
    word4 = ''
    if (mpl.ix[g,'Technology'] == 'Photovoltaic'):
        word4 = 'PV'
    elif (mpl.ix[g,'Technology'] == 'Solar Thermal Electric'):
        word4 = 'Solar Thermal Electric'
        
    word5 = ''
    if (mpl.ix[g,'Primary Fuel Type'] == 'Solar Photovoltaic'):
        word5 = 'PV'
    
    word6 = ''
    if (pd.isnull(rowg['EIA_technology']) == True):
        word6 = ''
    else:
        if (mpl.ix[g,'EIA_technology'] == 'Solar Photovoltaic'):
            word6 = 'PV'
        else:
            word6 = mpl.ix[g,'EIA_technology']

    word7 = ''
    if (pd.isnull(rowg['3_3_technology']) == True):
        word7 = ''
    else:
        if (mpl.ix[g,'3_3_technology'] == 'Solar Photovoltaic'):
            word7 = 'PV'
        else:
            word7 = mpl.ix[g,'3_3_technology']
    
    word = [word1, word2, word3, word4, word5, word6, word7]
    #word = [word1, word2, word3, word4, word5, word6, word7]
    word_1 = list(set(word))
    word_1 = filter(None, word_1)
    clean_word = '/'.join(word_1)
    mpl.ix[g, 'All Technologies'] = clean_word 

    
#Delete used columns
mpl.drop(['PV/CSP','EIA_prime_mover','3_3_prime_mover','Technology','Primary Fuel Type',
         'EIA_technology','3_3_technology'], axis=1, inplace=True)

#mpl.to_excel("C:/Users/KNguyen/test_output_new.xlsx")

In [32]:
#Type columns
for p, rowp in mpl.iterrows():
    word1 = mpl.ix[p,'Technology.1']
    if (pd.isnull(word1) is True):
        word1 = ''
    elif (word1 == 'Thin-film'):
        word1 = 'Thin Film'
    elif (word1 == 'c-Si'):
        word1 = 'cSi'
    elif (word1 == 'photovoltaics'):
         word1 = ''
        
    word2 = mpl.ix[p,'PV type']
    if (pd.isnull(word2) is True):
        word2 = ''
        
    word3 = ''
    if (pd.isnull(rowp['Lenses / Mirrors?']) == True):
        word3 = ''
    elif (mpl.ix[p,'Lenses / Mirrors?'] == 'N'):
        word3 = ''
    elif (mpl.ix[p,'Lenses / Mirrors?'] == '0'):
        word3 = ''
    elif (mpl.ix[p,'Lenses / Mirrors?'] == 0):
        word3 = ''
    elif (mpl.ix[p,'Lenses / Mirrors?'] == 'Y'):
        word3 = 'Lenses / Mirrors'
    else:
        word3 = 'error'
        
    word4 = ''
    if (pd.isnull(rowp['Parabolic Trough?']) == True):
        word4 = ''
    elif (mpl.ix[p,'Parabolic Trough?'] == 'N'):
        word4 = ''
    elif (mpl.ix[p,'Parabolic Trough?'] == '0'):
        word4 = ''
    elif (mpl.ix[p,'Parabolic Trough?'] == 0):
        word4 = ''
    elif (mpl.ix[p,'Parabolic Trough?'] == 'Y'):
        word4 = 'Parabolic Trough'
    else:
        word4 = 'error'
        
    word5 = ''
    if (pd.isnull(rowp['Linear Fresnel?']) == True):
        word5 = ''
    elif (mpl.ix[p,'Linear Fresnel?'] == 'N'):
        word5 = ''
    elif (mpl.ix[p,'Linear Fresnel?'] == '0'):
        word5 = ''
    elif (mpl.ix[p,'Linear Fresnel?'] == 0):
        word5 = ''
    elif (mpl.ix[p,'Linear Fresnel?'] == 'Y'):
        word5 = 'Linear Fresnel'
    else:
        word5 = 'error'
        
    word6 = ''
    if (pd.isnull(rowp['Power Tower?']) == True):
        word6 = ''
    elif (mpl.ix[p,'Power Tower?'] == 'N'):
        word6 = ''
    elif (mpl.ix[p,'Power Tower?'] == '0'):
        word6 = ''
    elif (mpl.ix[p,'Power Tower?'] == 0):
        word6 = ''
    elif (mpl.ix[p,'Power Tower?'] == 'Y'):
        word6 = 'Power Tower'
    else:
        word6 = 'error'
        
    word7 = ''
    if (pd.isnull(rowp['Dish Engine?']) == True):
        word7 = ''
    elif (mpl.ix[p,'Dish Engine?'] == 'N'):
        word7 = ''
    elif (mpl.ix[p,'Dish Engine?'] == '0'):
        word7 = ''
    elif (mpl.ix[p,'Dish Engine?'] == 0):
        word7 = ''
    elif (mpl.ix[p,'Dish Engine?'] == 'Y'):
        word7 = 'Dish Engine'
    else:
        word7 = 'error'
        
    word8 = ''
    if (pd.isnull(rowp['Other Solar Technology?']) == True):
        word8 = ''
    elif (mpl.ix[p,'Other Solar Technology?'] == 'N'):
        word8 = ''
    elif (mpl.ix[p,'Other Solar Technology?'] == '0'):
        word8 = ''
    elif (mpl.ix[p,'Other Solar Technology?'] == 0):
        word8 = ''
    elif (mpl.ix[p,'Other Solar Technology?'] == 'Y'):
        word8 = 'Other Solar Technology'
    else:
        word8 = 'error'
        
    word = [word1, word2, word3, word4, word5, word6, word7]
    #word = [word1, word2, word3, word4, word5, word6, word7]
    word_1 = list(set(word))
    word_1 = filter(None, word_1)
    clean_word = '/'.join(word_1)
    mpl.ix[p, 'All Types'] = clean_word 
    
    #mpl.ix[p, 'All Types'] = word1 
    
#Delete used columns
mpl.drop(['Technology.1','PV type','Lenses / Mirrors?','Parabolic Trough?','Linear Fresnel?',
         'Power Tower?','Dish Engine?','Other Solar Technology?'], axis=1, inplace=True)

#mpl.to_excel("C:/Users/KNguyen/test_output_new.xlsx")

In [33]:
#mpl.ix[:10][:10]
#counties = pd.DataFrame(mpl, columns=[1:10])
counties = mpl.iloc[:, 9:13]


#print(counties)
matched_a = counties[counties['County'] == counties['County.1']]
matched_all3 = counties[(counties['County'] == counties['County.1']) 
                     & (counties['County'] == counties['Facility County'])
                     & (counties['Facility County'] == counties['County.1'])]
#print(matched_all3)
matched_f2 = counties[(counties['County'] == counties['County.1']) 
                     | (counties['County'] == counties['Facility County'])]
#print(matched_f2)
'''for i, row in counties.iterrows():
    if (row['County'] == row['County.1'] and row['County.1'] == row['Facility County']):
        continue #mpl.ix[j,'Zip'] = rowj['Zip.1']print("TOTAL MATCH!!!")
    elif (row['County'] == row['County.1']):
        mpl.ix[i,''] = rowj['Zip.1']
        print("County and County.1 MATCH")
    elif(row['County'] == row['Facility County']):
        print("County and Facility County MATCH")
    elif(row['County.1'] == row['Facility County']):
        print("County.1 and Facility County MATCH")
    elif(pd.isnull(row['County.1']) and pd.isnull(row['Facility County'])):# == "NaN"): # and row['Facility County'].isnull()):
        print("County.1 and Facility County are blank")
    else:
        print("No Matches")
    #print(row['County'])
'''
count3 = 0
for k, rowa in mpl.iterrows():
    if(pd.isnull(rowa['County']) == True and (pd.isnull(rowa['County.1']) == False or pd.isnull(rowa['Facility County']) == False)):
        count3 += 1
        if(pd.isnull(rowa['County.1']) == False and pd.isnull(rowa['Facility County'] == True)):
            mpl.ix[k, 'County'] = rowa['Facility County']
        elif(pd.isnull(rowa['County.1']) == True and pd.isnull(rowa['Facility County']) == False):
            mpl.ix[k, 'County'] = rowa['County.1']
        else:
            if(rowa['County.1'] == rowa['Facility County']):
                #print("No Matches")
                mpl.ix[k, 'County'] = rowa['County.1']
            else:
                #print("No Matches")
                mpl.ix[k, 'County'] = 'ERROR: No Match'
        
print("Count3: " + str(count3))

Count3: 158

In [34]:
count4 = 0
for z, rowb in mpl.iterrows():
    if(pd.isnull(rowb['Capacity']) == True and pd.isnull(rowb['EIA_nameplate_capacity (MW)']) == False): 
        mpl.ix[z, 'Capacity'] = rowb['EIA_nameplate_capacity (MW)']

In [35]:
count = 0
for j, rowj in mpl.iterrows():
    
    '''if(rowj['Zip'] == rowj['Zip.1']): # and rowj['Zip.1'] == rowj['Zip Code'] and rowj['Zip Code'] == rowj['Premise Zip']):
        print("'Zip' and 'Zip.1'")
    elif (rowj['Zip'] == rowj['Zip Code']):
        print("'Zip' and 'Zip Code'")
    elif (rowj['Zip'] == rowj['Premise Zip']):
        print("'Zip' and 'Premise Zip'")
    else:
        print("ERROR")
    '''
    # Zip
    if(pd.isnull(rowj['Zip']) == False and pd.isnull(rowj['Zip Code']) == False and rowj['Zip'] != rowj['Zip Code']):
        print(str(rowj['Zip']) + " " + str(rowj['Zip Code']))
    if(pd.isnull(rowj['Zip']) == True and (pd.isnull(rowj['Zip.1']) == False or pd.isnull(rowj['Zip Code']) == False or pd.isnull(rowj['Premise Zip']) == False)):
        count += 1
        if(pd.isnull(rowj['Zip.1']) == False):
            if(pd.isnull(rowj['Zip Code']) == False):
                if(rowj['Zip.1'] == rowj['Zip Code']):
                    #print("rowj['Zip'] should equal either")
                    mpl.ix[j,'Zip'] = rowj['Zip.1']
                else:
                    #print("zipcodes didn't match(NJ)")
                    mpl.ix[j,'Zip'] = "Zipcodes didn't match(NJ)"
            # if rowj['Zip Code'] is blank (NJ), check MAs
            elif(pd.isnull(rowj['Premise Zip']) == False):
                if(rowj['Zip.1'] == rowj['Premise Zip']):
                    #print("rowj['Zip'] should equal to Premise Zip")
                    mpl.ix[j,'Zip'] = rowj['Premise Zip']
                else:
                    #print("zipcodes didn't match(MA)")
                    mpl.ix[j,'Zip'] = "Zipcodes didn't match (MA)"
            else:
                #print("rowj['Zip'] should be set to rowj['Zip.1']")
                #rowj['Zip'] = rowj['Zip.1']
                mpl.ix[j,'Zip'] = rowj['Zip.1']
                #mpl[j]['Zip'] = rowj['Zip.1']
        else:
            if(pd.isnull(rowj['Zip Code']) == False):
                #print("rowj['Zip'] should be set to Zip Code since Zip.1 is missing")
                mpl.ix[j,'Zip'] = rowj['Zip.1']
            elif(pd.isnull(rowj['Premise Zip']) == False):
                #print("rowj['Zip'] should be set to Premise Zip since Zip.1 is missing")
                mpl.ix[j,'Zip'] = rowj['Premise Zip']
                    
    # Ownership Code
    if(pd.isnull(rowj['EIA_ownership_type']) == False):
        word = ""
        if(rowj['EIA_ownership_type'] == 'S'):
            word = "Single"
        elif(rowj['EIA_ownership_type'] == 'J'):
            word = 'Jointly'
        elif(rowj['EIA_ownership_type'] == 'W'):
            word = 'Wholly (Other)'
        else:
            word = "ERROR"
        mpl.ix[j, 'Ownership_code_EIA'] = word
        #print("Zip: " + str(rowj['Zip']) + "  Need to filter down to check which is null, match, etc.")
    
    #if(rowj['Zip'] == rowj['Zip.1'] and rowj['Zip.1'] == rowj['Zip Code'] and rowj['Zip Code'] == rowj['Premise Zip']):
    #    print("zip all match")
    #elif(rowj['Zip'] == rowj['Zip.1'] and rowj['Zip.1'] == rowj['Zip Code']):
    #    print("zip match zip.1 and zip.1 match zip code")
#print("Count: " + str(count))
#if(pd.isnull(mpl['Zip']))
print("Count: "  + str(count))
count2 = 0
for x, rowz in mpl.iterrows():
    if(pd.isnull(rowz['Zip']) == True and (pd.isnull(rowj['Zip.1']) == False or pd.isnull(rowj['Zip Code']) == False or pd.isnull(rowj['Premise Zip']) == False)):
        count2 += 1
print(count2)
mpl.to_excel("C:/Users/KNguyen/test_output_new.xlsx")

2743.0 2601.0
1010.0 2038.0
1010.0 2038.0
1720.0 1247.0
2717.0 2571.0
2747.0 2571.0
1331.0 1364.0
1220.0 1247.0
2717.0 2186.0
2747.0 2186.0
2747.0 2186.0
2333.0 1569.0
1027.0 2571.0
2375.0 2571.0
2717.0 2186.0
2.0 1440.0
1524.0 2601.0
2747.0 2571.0
1564.0 1938.0
1851.0 1247.0
1056.0 2571.0
1844.0 2571.0
2764.0 2601.0
1535.0 2186.0
2777.0 2072.0
2367.0 2571.0
1230.0 1007.0
1776.0 1247.0
2379.0 1247.0
Count: 878
1885

In [73]:
#mpl.iloc(3, 'Zip')

TypeError: __call__() takes at most 2 arguments (3 given)

In [31]:
#mpl[0:2].describe().transpose()
mpl.iloc[0:3, :].describe()

,EIA_id,County Code,Zip Code,Premise Zip,EIA_nameplate_capacity (MW),capacity_summer,capacity_winter,3_3_nameplate,3_3_summer,3_3_winter,...,Operating Year.1,SQ Date,Dish Engine?,3_3_sector,_eia_entity_id,Utility ID,QC/QA Select (HW),PTO Date,Phone,
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
mpl2 = pd.read_excel("J:/SEIA/MPL/test_output2.xlsx", skipcols=1, sheetname="Sheet1")
mpl2.head()

,EIA_id,State_Id_1,State_Id_2,Project Name,Notes,Status,EIA_Construction_Status,Street Address,City,County,...,Premise Last Name,QC/QA Select (HW),PTO Date,Energy Year,Program,EDC Program,Applicant Name,Facility Company/Owner,Phone,Unnamed: 146
0,NaN,NaN,NaN,Hattiesburg-Forrest County Industrial Park Sol...,NaN,Under Construction,NaN,NaN,Hattiesburg,Forest,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,62238C,NaN,10801 6th St.,"Note: with RPS certification disapproved, no o...",Under Development,NaN,NaN,Rancho Cucamonga,San Bernardino,...,NaN,NaN,NaN,NaN,NaN,NaN,Joia Gibble,Martifer Solar USA,NaN,NaN
2,NaN,62118A,NaN,1111 Figueroa Place,"Note: with RPS certification disapproved, no o...",Under Development,NaN,NaN,Wilmington,Los Angeles,...,NaN,NaN,NaN,NaN,NaN,NaN,Oscar Alvarez,Los Angeles Community College District,NaN,NaN
3,59371.0,SRP10894,NaN,12 Applegate Solar LLC,Note: New Jersey lists as Lifetime Brands Inc.,Operating,NaN,12 Applegate Drive,Robbinsville,Mercer,...,OREILLY,41200.0,NaN,NaN,SREC Solar,NaN,NaN,NaN,NaN,28463.0
4,NaN,PV-2456-14,NON37971,126 Grove Solar,NaN,Operating,NaN,NaN,Franklin,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
mpl2['EIA_id'].describe()

count     1908.000000
mean     58341.365304
std       5878.154281
min        116.000000
25%               NaN
50%               NaN
75%               NaN
max      60469.000000
Name: EIA_id, dtype: float64